<router-outlet />

<mat-card>
    <mat-card-header>
        <h2>Signal Viewchild</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput #name >
        </mat-form-field>
        <app-child></app-child>
        <app-child></app-child>
        <app-child></app-child>
    </mat-card-content>
</mat-card>



<mat-card>
    <mat-card-header>
        <h2>Signal Conent Child</h2>
    </mat-card-header>
    <mat-card-content>
        <app-tempchild>
            <h3 #temphead>Temp Child 1</h3>
            <h3 #temphead>Temp Child 2</h3>
        </app-tempchild>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <h2>Signal Model</h2>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
</mat-card>
